
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext);

.row {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

.top_bot {
	background-image: url("../images/stardust.png");
	padding: 15px 0px;
}

.label {
	background-color:#666;
	font-weight: bold;
}

h3 {
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-left: 0px;
}

h4 {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align:right;
	margin-right: 0px;
}

h5 {
	margin-top:45px;
	margin-bottom:10px;
	font-weight: bold;
}

.break {
	padding: 1px;
	background-image: url("../images/stardust.png");
}

.break_end {
	background-image: url("../images/stardust.png");
}

.pics {
	padding: 1px;
	border: 1px solid #666;
}

.mobile {
	padding: 5px;
}

.upper_descr {
	margin-top: 40px;
	margin-bottom: 0px;
}

p {
	color: #444;
	font-family: 'Open Sans', sans-serif;
}

body { 
	background-image: url("../images/stardust.png");
}

.row { 
	background-color: white; 
}

img { 
	box-shadow: 0 0 15px #ccc; 
} 

img:hover { 
	box-shadow: 0 0 15px #888; 
} 

.one {
	opacity: 0;
	-webkit-animation-name: anim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s;   
    -webkit-animation-delay: 0s; 
    -webkit-animation-fill-mode: forwards;
}

.two {
	opacity: 0;
	-webkit-animation-name: anim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; 
    -webkit-animation-delay: 1s;  
    -webkit-animation-fill-mode: forwards;
}

.three {
	opacity: 0;
	-webkit-animation-name: anim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s;  
    -webkit-animation-delay: 2s;  
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes anim {
    from   {opacity: 0;}
    to  {opacity: 1;}
}